.padding {
    padding: 20px 16px;
}

.grid {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
}

.leftCol {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.balanceWrapper {
    margin-bottom: 12px;
}

.rightCol {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #000;
}

.list {
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    /* For rounded corners on first/last items */
}