.card {
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    color: #000;
    margin-bottom: 2px;
    font-weight: 500;
}

.points {
    font-size: 17px;
    color: #8E8E93;
    /* iOS Secondary Gray */
    font-weight: 400;
}