@font-face {
  font-family: "SF Pro Text";
  src: url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot");
  src: url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1c45e28f8e86cc89876f003b953cc3e9.svg#SF Pro Text Regular")format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f7;
  font-family: "SF Pro Text", -apple-system, BlinkMacSystemFont, "SF Pro Display", system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
}

* {
  box-sizing: border-box;
}